*, ::after, ::before
{
    margin: 0;
    padding: 0;
}

.container
{
    width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(240deg, #CF2E5D, #826ECE);
    z-index: 1;
    position: relative;
}
.pageone
{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.navbar
{
    width: 50%;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    padding-top: 3%;
    padding-bottom:3%;
}
.navbar button
{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8vh;
    font-size: large;
    color: #FFFFFF;
    text-align: center;
    border-radius: 50px 50px 50px 50px;
    border-width: 2px;
    border-color: #FFFFFF;
    border-style: solid;
    background-color: transparent;
    margin-inline-start: 5px;
}
button span {
    cursor: pointer;
    display: inline-block;
    transition: 0.5s;
}
button span:after {
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
} 
button:hover span {
    padding-right: 8px;
} 
button:hover span:after {
    opacity: 1;
    right: 0;
}
.imageandwords
{
    display: flex;
    flex-direction: row;
}
.mainImage
{
    width: 40%;
    flex: 1;
}
.mainImage img
{
    padding-left: 16%;
    padding-top: 5%;

}
img.imageone
{
    width: 90%;
    height: auto;
}
.words 
{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    flex: 1;
    padding-top: 3%;
}
.pageone h1
{
    margin-left: 10%;
    color: #FFFFFF;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: 60px;
    width: 50%;

}
.pageone p
{
    width: 70%;
    padding-top: 2vh;
    color: #FFFFFF;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: 30px;
    padding-bottom: 10vh;
}
.wordsbuttons
{
    display: flex;
    flex-direction: column;
}
.wordsbuttons button
{
    width: 70%;
    height: 8vh;
    font-size: large;
    color: #FFFFFF;
    text-align: center;
    border-radius: 50px 50px 50px 50px;
    border-width: 2px;
    border-color: #FFFFFF;
    border-style: solid;
    background-color: transparent;
}
button.signmeup
{
    margin-bottom: 3%;
}
#myBtn 
{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    font-weight: bolder;
    border: none;
    outline: none;
    background-color:#FFFFFF;
    color:#CF2E5D;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
 }
  
#myBtn:hover 
{
    background-color: rgb(163, 157, 157);
}
.pagetwo
{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    padding-top: 5%;
}
#pagetwomodal
{
    width: 100%;
    height: auto;
}
.headingpagetwo
{
    padding-right:5%;
}
.pagetwo h1
{
   display: flex;
   justify-content: flex-end;
   color: #FFFFFF;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-size: 30px;
   text-align: center;
}
.pagetwocontent
{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.pagetwopartone
{
    width: 30%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    padding-left: 7%;
}
.pagetwoparttwo
{
    width: 30%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-left: 55%;
}
.pagetwo img
{
    width: 45%;
    height: auto;
}
.pagetwoimage1
{
    padding-left: 10%;
}
.opinionone
{
    margin-top: 15%;
    margin-left: -65%;
}
.opiniontwo
{
    margin-top: 15%;
    margin-left: -60%;
}
.opinionone, .opiniontwo
{
    background-color: #FFFFFF;
    border-radius: 50px 50px 50px 50px;
    padding: 20%;
    width: 50%;

}
.opinionone p, .opiniontwo p
{
    color: #826ECE;
    text-align: center;
    font-size: medium;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.pagethree
{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    padding-top: 5%;
}
#pagethreemodal
{
    width: 100%;
    height: auto;
}
.pagethree h1
{
    padding-bottom: 5%;
    color: #FFFFFF;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: 30px;
}
.pagethreecontent
{
    display: flex;
    flex-direction: column;
}
.pagethreeimageone, .pagethreeimagetwo
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.pagethreeimagetwo
{
    padding-top: 7%;
}
img.imagefive
{
    width: 10%;
    height: 10vh;
    padding-top: 3%;
}
img.imagefour, img.imagesix
{
    width: 8%;
    height: auto;
}
.pagethreetext
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.pagethreetextone, .pagethreetexttwo, .pagethreetextthree
{
    padding-top: 3%;
    width: 10%;
    height: 20%;
}
.pagethreetext p
{
    font-size: larger;
    text-align: center;
    color: #FFFFFF;
    color: #FFFFFF;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.pagefour
{ 
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 10%;
}
.signup
{
    background-color: rgba(205, 196, 196, 0.56);
    border-radius: 21%;
    text-align: center;
    color: #FFFFFF;
    padding-top: 5%;
    padding-bottom: 10%;
    padding-left: 11%;
    padding-right: 11%;
    height: fit-content;
}
.login
{
    background: rgba(230, 99, 138, 0.45);
    border-radius: 21%;
    text-align: center;
    color: #FFFFFF;
    padding-top: 5%;
    padding-bottom: 10%;
    padding-left: 11%;
    padding-right: 11%;
    height: fit-content;
} 
.itemsundersignup,.itemsunderlogin
{
    display: flex;
    flex-direction: column;
}
.itemsundersignup form
{
    padding-top: 20%;
    padding-bottom: 20%;
}
.itemsunderlogin form
{
    padding-top: 40%;
    padding-bottom: 30%;
}
.pagefour .mainheading
{
    color: #FFFFFF;
    font-size: x-large;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
#email, #username, #password
{
    border: transparent;
    background-color: transparent;
    border-bottom: 2px solid #707070;
    margin-bottom: 5%;
    text-align: center;
    padding-top: 5%;
}
.pagefourbutton
{
    width: 100%;
    height: 8vh;
    font-size: large;
    color: #FFFFFF;
    text-align: center;
    border-radius: 50px 50px 50px 50px;
    border-width: 2px;
    border-color: #FFFFFF;
    border-style: solid;
    background-color: transparent;
}
input:focus, textarea:focus, select:focus{
    outline: none;
}
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active 
{
    transition: background-color 5000s ease-in-out 0s;
}
label
{
    text-align: center;
    font-size: medium;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.pagefive
{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    padding-top: 10%;
    padding-bottom: 10%;
}
.lastimage
{
    width: 40%;
    height: auto;
}
.pagefivewords
{
    display: flex;
    flex-direction: row;
    width: 50%;
    height: auto;
    justify-content: space-evenly;
    padding-top: 5%;
    text-align: center;
}
img.bottomimage
{
    width: 70%;
    height: auto;
    padding-left: 20%;
}
.icons
{
    display: flex;
    flex-direction: column;
}
#fafaicon
{
    padding-top: 25%;
}
.pagefive p
{
    padding-top: 12%;
}
@media screen and (max-width: 1232px)
{
    .pageone h1 
    {
        font-size: 40px;
    }
    .pageone p
    {
        font-size: 20px;
        padding-bottom: 5vh;
    }
    .navbar 
    {
        width: 60%;
    }

}
@media screen and (max-width: 1010px)
{
    .navbar 
    {
        width: 65%;
    }
}
@media screen and (max-width: 901px)
{
    .mainImage
    {
        display: none;
    }
    .lastimage
    {
        width: 0%;
    }
    .bottomimage
    {
        display: none;
    }
    .navbar
    {
        align-content: center;
        justify-content: center;
        width: 100%;
    }
    .navbar button
    {
        font-size: medium;
        width: 14%;
    }
    .pagetwo h1
    {
        justify-content: center;
    }
    .pagetwopartone
    {
        width: 70%;
        padding-left: 10%;
        padding-top: 10%;
    }
    .pagetwoparttwo
    {
        width: 65%;
        padding-left: 15%;
        padding-top: 10%;
    }
    .pagetwo img
    {
        width: 55%;
        height: auto;
    }
    .imagetwo
    {
        margin-left: -5%;
    }
    .imagethree
    {
        margin-left: -5%;
    }
    .opinionone
    {
        margin-top: 15%;
        margin-left: -35%;
    }
    .opiniontwo
    {
        margin-top: 15%;
        margin-left: -45%;
    }
    .opinionone, .opiniontwo
    {
        padding: 20%;
        width: 50%;
    
    }
    img.imagefive
    {
        width: 15%;
        height: 10vh;
        padding-top: 3%;
    }
    img.imagefour, img.imagesix
    {
        width: 15%;
        height: auto;
    }
    .pagethreetextone, .pagethreetexttwo, .pagethreetextthree
    {
        padding-top: 3%;
        width: 15%;
        height: 20%;
    }
    .pagefour
    {
        flex-direction: column;
    }
    .itemsundersignup form
    {
        padding-top: 20%;
        padding-bottom: 20%;
    }
    .itemsunderlogin form
    {
        padding-top: 40%;
        padding-bottom: 30%;
    }
    .signup
    {
        height: fit-content;
        margin-left: 15%;
        margin-right: 15%;
        margin-bottom: 5%;
    }
    .login
    {
        height: fit-content;
        margin-left: 15%;
        margin-right: 15%;
    }
    .pagefivewords
    {
        margin-left: 5%;
        width: 100%;

    }
    .pagetwo
    {
        padding-top: 10%;
    }
    .pagethree
    {
        padding-top: 10%;
    }
    .pagefour
    {
        padding-top: 15%;
    }

}
@media screen and (max-width: 635px)
{
    .navbar button
    {
        width: 14%;
        font-size: small;      
        border: transparent;
        background-color: transparent;
        border-radius: 0;
        border-bottom: 2px solid #ffffff;
        padding-top: 1%;
    }
    .imagetwo
    {
        padding-top: 5%;
        padding-left: 5%;
    }
}
@media screen and (max-width: 655px)
{
    img.imagefive
    {
        width: 20%;
        height: 7vh;
        padding-top: 3%;
    }
    img.imagefour, img.imagesix
    {
        width: 20%;
        height: auto;
    }
    .pagethreetextone, .pagethreetexttwo, .pagethreetextthree
    {
        padding-top: 3%;
        width: 20%;
        height: 20%;
    }
}
@media screen and (max-width: 575px)
{
    .pagethree p, .pagefive p
    {
        font-size: small;
    }
}
@media screen and (max-width: 360px)
{
    .navbar button
    {
        font-size: xx-small;
    }
}

